<!-- betting begin -->
<div class="betting" id="in_play">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-8">
                <div class="section-title">
                    <h2>LİGLER & MAÇLAR</h2>
                    <p>Kupon yapmanız için tahminlerinizi girebilirsiniz</p>
                </div>
            </div>
        </div>
        <div class="betting-table">
            <div class="row">
                <div class="col-xl-2 col-lg-2">
                    <div class="bett-menu">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="all-sports-tab" data-toggle="tab" href="#all-sports" role="tab" aria-controls="all-sports" aria-selected="true">
                                    <i class="flaticon-medal"></i>
                                    <span class="text">
                                        TÜM SPORLAR
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="football-tab" data-toggle="tab" href="#football" role="tab" aria-controls="football" aria-selected="false">
                                    <i class="flaticon-football"></i>
                                    <span class="text">
                                        FUTBOL
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="basketball-tab" data-toggle="tab" href="#basketball" role="tab" aria-controls="basketball" aria-selected="false">
                                    <i class="flaticon-basketball-ball-variant"></i>
                                    <span class="text">
                                        BASKETBOL
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="volleyball-tab" data-toggle="tab" href="#volleyball" role="tab" aria-controls="volleyball" aria-selected="false">
                                    <i class="flaticon-volleyball"></i>
                                    <span class="text">
                                        VOLEYBOL
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tennis-tab" data-toggle="tab" href="#tennis" role="tab" aria-controls="tennis" aria-selected="false">
                                    <i class="flaticon-tennis-ball"></i>
                                    <span class="text">
                                        TENİS
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10">
                    <div class="tab-content bet-tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="all-sports" role="tabpanel" aria-labelledby="all-sports-tab">
                            <div class="sport-content-title">
                                <h3>
                                    TÜM SPORLAR
                                    <span class="sport-content-conter">[30]</span>
                                </h3>
                            </div>
                            <div class="sports-list">
                                <h4 class="title">England International League</h4>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-football"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    arsenal
                                                </span>
                                                <span class="score-number">
                                                    2
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    everton
                                                </span>
                                                <span class="score-number">
                                                    4
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.00</span>
                                                <span class="result-for-final">
                                                    arsenal
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">4.30</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">5.75</span>
                                                <span class="result-for-final">
                                                    everton
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-football"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Aston Villa
                                                </span>
                                                <span class="score-number">
                                                    4
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Norwich City
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.52</span>
                                                <span class="result-for-final">
                                                    Aston Villa
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.35</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.65</span>
                                                <span class="result-for-final">
                                                    Norwich City
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-football"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    West Ham United
                                                </span>
                                                <span class="score-number">
                                                    1
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Bournemouth
                                                </span>
                                                <span class="score-number">
                                                    6
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.50</span>
                                                <span class="result-for-final">
                                                    West Ham United
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">4.45</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.75</span>
                                                <span class="result-for-final">
                                                    Bournemouth
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sports-list">
                                <h4 class="title">France National tennis</h4>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-tennis-ball"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Kenny Schepper
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Quentin Robert
                                                </span>
                                                <span class="score-number">
                                                    6
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.25</span>
                                                <span class="result-for-final">
                                                    Kenny Schepper
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.62</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.44</span>
                                                <span class="result-for-final">
                                                    Quentin Robert
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-tennis-ball"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Christian Langmo
                                                </span>
                                                <span class="score-number">
                                                    5
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Manuel Pena Lopez
                                                </span>
                                                <span class="score-number">
                                                    2
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.70</span>
                                                <span class="result-for-final">
                                                    Christian Langmo
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.30</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.05</span>
                                                <span class="result-for-final">
                                                    Manuel Pena Lopez
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-tennis-ball"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Stade Bordelais
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Nantes II
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.22</span>
                                                <span class="result-for-final">
                                                    Stade Bordelais
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">4.00</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.45</span>
                                                <span class="result-for-final">
                                                    Nantes II
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sports-list">
                                <h4 class="title">League of europe</h4>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-basketball-ball-variant"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Kenny Schepper
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Quentin Robert
                                                </span>
                                                <span class="score-number">
                                                    6
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.25</span>
                                                <span class="result-for-final">
                                                    Kenny Schepper
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.62</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.44</span>
                                                <span class="result-for-final">
                                                    Quentin Robert
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-basketball-ball-variant"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Christian Langmo
                                                </span>
                                                <span class="score-number">
                                                    5
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Manuel Pena Lopez
                                                </span>
                                                <span class="score-number">
                                                    2
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.70</span>
                                                <span class="result-for-final">
                                                    Christian Langmo
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.30</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.05</span>
                                                <span class="result-for-final">
                                                    Manuel Pena Lopez
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-basketball-ball-variant"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Stade Bordelais
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Nantes II
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.22</span>
                                                <span class="result-for-final">
                                                    Stade Bordelais
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">4.00</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.45</span>
                                                <span class="result-for-final">
                                                    Nantes II
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="football" role="tabpanel" aria-labelledby="football-tab">
                            <div class="sport-content-title">
                                <h3>
                                    FUTBOL
                                    <span class="sport-content-conter">[3]</span>
                                </h3>
                            </div>
                            <div class="sports-list">
                                <h4 class="title">England International League</h4>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-football"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    arsenal
                                                </span>
                                                <span class="score-number">
                                                    2
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    everton
                                                </span>
                                                <span class="score-number">
                                                    4
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.00</span>
                                                <span class="result-for-final">
                                                    arsenal
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">4.30</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">5.75</span>
                                                <span class="result-for-final">
                                                    everton
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number"><a href="#openMatchBets" data-toggle="collapse" aria-expanded="false" aria-controls="openMatchBets">+336</a></span>
                                    </div>
                                    <div class="part-more-bets collapse openMatchBets" id="openMatchBets">
                                        <h4 class="part-match-title">Alt & Üst</h4>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.52</span>
                                                <span class="result-for-final">
                                                    Aston Villa
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.35</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.65</span>
                                                <span class="result-for-final">
                                                    Norwich City
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.65</span>
                                                <span class="result-for-final">
                                                    Norwich City
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.65</span>
                                                <span class="result-for-final">
                                                    Norwich City
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-more-bets collapse openMatchBets" id="openMatchBets">
                                        <h4 class="part-match-title">Alt & Üst</h4>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.52</span>
                                                <span class="result-for-final">
                                                    Aston Villa
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.35</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-more-bets collapse openMatchBets" id="openMatchBets">
                                        <h4 class="part-match-title">KG VAR YOK</h4>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.52</span>
                                                <span class="result-for-final">
                                                    Aston Villa
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.35</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-more-bets collapse openMatchBets" id="openMatchBets">
                                        <h4 class="part-match-title">KG VAR YOK</h4>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.52</span>
                                                <span class="result-for-final">
                                                    Aston Villa
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.35</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.35</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-football"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    arsenal
                                                </span>
                                                <span class="score-number">
                                                    2
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    everton
                                                </span>
                                                <span class="score-number">
                                                    4
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.00</span>
                                                <span class="result-for-final">
                                                    arsenal
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">4.30</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">5.75</span>
                                                <span class="result-for-final">
                                                    everton
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="basketball" role="tabpanel" aria-labelledby="basketball-tab">
                            <div class="sport-content-title">
                                <h3>
                                    BASKETBOL
                                    <span class="sport-content-conter">[3]</span>
                                </h3>
                            </div>
                            <div class="sports-list">
                                <h4 class="title">League of europe</h4>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-basketball-ball-variant"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Kenny Schepper
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Quentin Robert
                                                </span>
                                                <span class="score-number">
                                                    6
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.25</span>
                                                <span class="result-for-final">
                                                    Kenny Schepper
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.62</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.44</span>
                                                <span class="result-for-final">
                                                    Quentin Robert
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-basketball-ball-variant"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Christian Langmo
                                                </span>
                                                <span class="score-number">
                                                    5
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Manuel Pena Lopez
                                                </span>
                                                <span class="score-number">
                                                    2
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.70</span>
                                                <span class="result-for-final">
                                                    Christian Langmo
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.30</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.05</span>
                                                <span class="result-for-final">
                                                    Manuel Pena Lopez
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-basketball-ball-variant"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Stade Bordelais
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Nantes II
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.22</span>
                                                <span class="result-for-final">
                                                    Stade Bordelais
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">4.00</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.45</span>
                                                <span class="result-for-final">
                                                    Nantes II
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="volleyball" role="tabpanel" aria-labelledby="volleyball-tab">
                            <div class="sport-content-title">
                                <h3>
                                    VOLEYBOL
                                    <span class="sport-content-conter">[3]</span>
                                </h3>
                            </div>
                            <div class="sports-list">
                                <h4 class="title">Hocky Tour'20</h4>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-volleyball"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Kenny Schepper
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Quentin Robert
                                                </span>
                                                <span class="score-number">
                                                    6
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.25</span>
                                                <span class="result-for-final">
                                                    Kenny Schepper
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.62</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.44</span>
                                                <span class="result-for-final">
                                                    Quentin Robert
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-volleyball"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Christian Langmo
                                                </span>
                                                <span class="score-number">
                                                    5
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Manuel Pena Lopez
                                                </span>
                                                <span class="score-number">
                                                    2
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.70</span>
                                                <span class="result-for-final">
                                                    Christian Langmo
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.30</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.05</span>
                                                <span class="result-for-final">
                                                    Manuel Pena Lopez
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-volleyball"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Stade Bordelais
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Nantes II
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.22</span>
                                                <span class="result-for-final">
                                                    Stade Bordelais
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">4.00</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.45</span>
                                                <span class="result-for-final">
                                                    Nantes II
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tennis" role="tabpanel" aria-labelledby="tennis-tab">
                            <div class="sport-content-title">
                                <h3>
                                    TENİS
                                    <span class="sport-content-conter">[3]</span>
                                </h3>
                            </div>
                            <div class="sports-list">
                                <h4 class="title">France National tennis</h4>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-tennis-ball"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Kenny Schepper
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Quentin Robert
                                                </span>
                                                <span class="score-number">
                                                    6
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.25</span>
                                                <span class="result-for-final">
                                                    Kenny Schepper
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.62</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.44</span>
                                                <span class="result-for-final">
                                                    Quentin Robert
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-tennis-ball"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Christian Langmo
                                                </span>
                                                <span class="score-number">
                                                    5
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Manuel Pena Lopez
                                                </span>
                                                <span class="score-number">
                                                    2
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">1.70</span>
                                                <span class="result-for-final">
                                                    Christian Langmo
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.30</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.05</span>
                                                <span class="result-for-final">
                                                    Manuel Pena Lopez
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                                <div class="single-sport-box">
                                    <div class="part-icon">
                                        <i class="flaticon-tennis-ball"></i>
                                    </div>
                                    <div class="part-team">
                                        <ul>
                                            <li>
                                                <span class="team-name">
                                                    Stade Bordelais
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                            <li>
                                                <span class="team-name">
                                                    Nantes II
                                                </span>
                                                <span class="score-number">
                                                    3
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="part-match">
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">3.22</span>
                                                <span class="result-for-final">
                                                    Stade Bordelais
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">4.00</span>
                                                <span class="result-for-final">
                                                    draw
                                                </span>
                                            </a>
                                        </div>
                                        <div class="single-place-to-bet">
                                            <a href="#">
                                                <span class="bet-price">2.45</span>
                                                <span class="result-for-final">
                                                    Nantes II
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="part-bnonus">
                                        <span class="bonus-number">+336</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- betting end -->